:root {
    --red: #f72210;
    --yellow: #ffe400;
    --body-background: #f4f5f6;
}

body {
    background-color: var(--body-background);
}

img {
    width: 100%;
}

.brand {
    width: 170px;
}

.user.fa-user {
    color: white;
    opacity: 0.7;
    font-size: 20px;
    padding: 10px 20px;
}

.btn-warning {
    background-color: var(--yellow);
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 24px;
    padding: 3px 10px;
    font-weight: 900;
    margin-right: 20px;
}

.humberger.fa-bars {
    color: #fff;
    opacity: 0.7;
    font-size: 20px;
    padding: 10px;
    font-weight: 100;
}


.top-nav {
    background-color: var(--red);
    height: 50px;
}

@media (min-width: 768px) {
    .user.fa-user {
        display: none;
    }

    .mobile-right > h2 {
        color: #fff;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 900;
        margin-right: 20px;
        margin: 0 20px;
    }

    .btn-warning {
        font-size: 18px;
    }
    
    .humberger.fa-bars {
        font-size: 30px;
    }

}

@media (min-width: 992px) {
    .top-nav {
        height: 120px;
        
    }

    header.row {
        max-width: 1300px;
        margin: 0 auto;
    }

    .brand {
        width: 396px;
    }

    .top-nav > h3{
        color: #fff;
        opacity: 0.7;
        font-size: 16px;
        font-family: sans-serif;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .mobile-right {
        margin-bottom: 20px;
    }

    .nav-2 {
        height: 50px;
        padding: 10px 0 10px 0;
        background-color: #fff;
        flex-flow: row wrap;
        text-align: center;
    }

    .nav-2 > h4 {
        font-size: 16px;
        font-weight: bold;
    }


    .search > h6 {
        color:  rgba(0,0,0,.55);
        font-size: 15px;
        font-weight: 400;
    }

    .search  > .fa-search {
        color: red;
        display: inline;
        padding: 0;
        margin: 0;
    }

}
